.projects-div{
    margin: 1rem;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 16fr;;
}
.add-project-btn{
    height: 4rem;
    width: 4rem;
    justify-self: center;
    
    border-radius: 50%;
    border:none;
    background-color: lightgray;
    color:black;
    font-size: 1rem;
    font-family: 'Fredoka One', cursive;
    transition: all 0.3s;

    padding: 0px;
}

.add-project-btn:hover{
    background-color: orange;
    color:lightgrey;
}