
.projects-div{
    margin: 1.5rem;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 16fr;;
}
.add-project-btn{
    height: 4rem;
    width: 4rem;
    
    border-radius: 50%;
    border:none;
    background-color: lightgray;
    color:black;
    font-size: 1.6rem;
    font-family: 'Fredoka One', cursive;
    transition: all 0.3s;

    padding: 0px;
}

.add-project-btn:hover{
    background-color: orange;
    color:lightgrey;
}

.project-entry-div{
    width: 80vmin;
    height: 80vmin;
    background-image: linear-gradient(orange, purple);
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;

    padding: 1.6em;
    padding-right: 0;

    row-gap: 1.6em;
    border-radius: 2.5em;
}

.project-entry-title-span{
    display:flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 1.6em;
    
    height: 100%;

    border-radius: 9999px;

    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
}
.project-entry-title-span:hover{
    background: rgba(255, 255, 255, 0.5);
}

.project-entry-title{
    height: 95%;
    width: 95%;

    outline: none;
    background: transparent;

    font-family: 'Fredoka One', cursive;
    font-size: 1rem;
    color:black;

    

    border:none;

}
.project-entry-close-btn{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;

    background: transparent;

    font-family: 'Fredoka One', cursive;
    font-size: 1.6rem;
    color:lightgray;


    border:none;
    transition: all 0.3s;
}
.project-entry-close-btn:hover{
    color: black;
}

.project-entry-description-span{
    display:flex;
    justify-content: space-between;
    align-items: center;    
    padding-left: 1.6em;    
    padding-right: 1.6em; 
        
    height: 100%;


    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);

    transition: all 0.3s;
}
.project-entry-description-span:hover{
    background: rgba(255, 255, 255, 0.5);
}
.project-entry-description{
    height: 95%;
    width: 95%;

    outline: none;
    background: transparent;

    font-family: 'Fredoka One', cursive;
    font-size: 1rem;
    color:black;

    border:none;
    resize: none;
}

.project-entry-add-btn{
    width: 36%;
    height: 90%;


    align-self: center;
    justify-self: end;

    border-radius: 9999px;
    border: none;
    
    font-family: 'Fredoka One', cursive;
    background: orange;
    color:lightgray;

    font-size: 1rem;
    text-align: center;

    transition: all 0.3s;
}

.project-entry-add-btn:hover {
    background-color: lightgray;
    color: black;
}


.added-projects{
    height: 100%;
    overflow: auto;
    gap: 2px;

}
.project-tab{
    width: 90%;
    height: 8%;
}
.pinned{
    position: sticky;
    width: 50%;
    background-color: blue;
}

.project-tab-delete{
    color:blue;
    z-index: 1;
}

.project-tab-pin{
    color:red;
    z-index: 1;
}


@media only screen and (max-width: 600px) {
    .add-project-btn{
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .project-entry-div{
        padding: 1em;
    }
    .project-entry-close-btn{
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
        color: lightgray;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .project-entry-title{
        font-size: 0.8rem;
    }
    .project-entry-description-span{
        border-radius: 10px;
    }
    .project-entry-description{
        font-size: 0.8rem;
        
    }
    .project-entry-add-btn{

        background-color: lightgray;
        color: black;
        height: 90%;
        width: 36%;
        font-size: 0.4rem;
    }
  }
