.sidebar{
    background-color: orange;
    display: flex;
    flex-direction: column;
    gap: 24px;


    align-items: center;
    padding-top: 15px;

}
.sidebar-btn{
    border:none;
    height: 80px;
    width: 100%;

    border-bottom-left-radius: 9999px;
    border-top-left-radius: 9999px;
    
    background-position: center;
    background-repeat: no-repeat;

    transition: all 0.3s;
    background-color: transparent;
}
.anim:hover{
  transform: scale(1.1);
}
#projects-btn{
    background-image: url(../icons/projects/icons8-folder.svg);
    
  }

#checklist-btn{
    background-image: url(../icons/checklist/icons8-tick-box.svg);
  }

#notes-btn{
    background-image: url(../icons/notes/icons8-document.svg);
  }


@media only screen and (max-width: 700px) {
    .sidebar {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-top: 0;
    }
    .sidebar-btn{
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;
        border-bottom-left-radius: 0;
        height: 100%;
        width: 40px;
    }
    #projects-btn{
        background-image: url(../icons/projects/icons8-folder-32.svg);
      }
    
    #checklist-btn{
        background-image: url(../icons/checklist/icons8-tick-box-32.svg);
      }
    
    #notes-btn{
        background-image: url(../icons/notes/icons8-document-32.svg);
      }
  }


