.sidebar{
    background-image: linear-gradient(orange, purple);
    display: flex;
    flex-direction: column;
    


    align-items: center;
    padding-top: 1rem;
    gap:2rem;

}
.sidebar-btn{
    border:none;
    height: 4rem;
    width: 100%;

    border-bottom-left-radius: 9999px;
    border-top-left-radius: 9999px;
    
    background-position: center;
    background-repeat: no-repeat;

    background-size: 30%;
    transition: all 0.3s;
    background-color: transparent;
}

.anim:hover{
    transform: scale(1.2);
}

.anim#projects-btn{
    background-image: url(../icons/projects/projects-white-64.svg);
}
.anim#checklist-btn{
    background-image: url(../icons/checklist/checklist-white-64.svg);
}
.anim#notes-btn{
   background-image: url(../icons/notes/notes-white-64.svg);
}

#projects-btn{
    background-image: url(../icons/projects/projects-black-64.svg);
}

#projects-btn:hover{
    background-image: url(../icons/projects/projects-black-64.svg);
}

#checklist-btn{
    background-image: url(../icons/checklist/checklist-black-64.svg);
}

#checklist-btn:hover{
    background-image: url(../icons/checklist/checklist-black-64.svg);
    
}

#notes-btn{
    background-image: url(../icons/notes/notes-black-64.svg);

}
#notes-btn:hover{
    background-image: url(../icons/notes/notes-black-64.svg);
}
@media only screen and (max-width: 600px) {
    .sidebar {
      background-image: linear-gradient(to right, orange, purple);
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-top: 0;
    }
    .sidebar-btn{
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;
        border-bottom-left-radius: 0;
        height: 100%;
        width: 4rem;
    }
  }


